.button {
    -fx-text-fill: white;
    -fx-text-alignment: left;
    -fx-font-family: "Helvetica";
    -fx-font-size:  16px;
    -fx-padding: 5 30 5 30;
    -fx-background-color: linear-gradient(#15640F 0%, #000000 100%);
}

.button:hover {
    -fx-background-color: linear-gradient(#000000 0%, #15640F 100%);
}