#close {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-family: "Helvetica";
}

#close:hover{
	-fx-background-color: #D40404;
}

#minimize{
	-fx-text-fill: white;
	-fx-background-color: transparent;
}

#minimize:hover{
	-fx-background-color: grey;
}

#topBar{
	-fx-background-color: rgb(21, 100, 15, 0.5);
}